{% extends "layout.html" %}
{% block content %}
<div class="content">
<h2>Welcome</h2>
<p>The Machine Simulator simulates machines:</p>
<p> <input type="radio" name ="dummy" value="1" checked />IMMS1: Injection Molding Machine Simulator with EM63 protocol support using Samba for data exchange</p>
<p> <input type="radio" name ="dummy" value="1" disabled />IMMS2: Injection Molding Machine Simulator with EM63 protocol support using FTP for data exchange (currently not supported)</p>
<p> <input type="radio" name ="dummy" value="1" disabled />IMMS3: Injection Molding Machine Simulator with OPC UA protocol support for data exchange (currently not supported)</p>
</div>
{% endblock %}
